<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">{{character.name}}</h6>

    <div class="row">
      <div class="col-sm-2 row-name">Gender:</div>
      <div class="col-sm-10 row-value">
        {{character.gender}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 row-name">Birth year:</div>
      <div class="col-sm-10 row-value">
        {{character.birth_year}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 row-name">Eye color:</div>
      <div class="col-sm-10 row-value">
        {{character.eye_color}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 row-name">Skin color:</div>
      <div class="col-sm-10 row-value">
        {{character.skin_color}}
      </div>
    </div>
  </div>
</div>
