<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">{{planet.name}}</h6>

    <div class="row">
      <div class="col-sm-2 row-name">Population:</div>
      <div class="col-sm-10 row-value">
        {{planet.population}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 row-name">Climate:</div>
      <div class="col-sm-10 row-value">
        {{planet.climate}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 row-name">Gravity:</div>
      <div class="col-sm-10 row-value">
        {{planet.gravity}}
      </div>
    </div>
  </div>
</div>
